@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bg{
  background: firebrick;
  min-height: 100vh;   
  width: 100%;    
  font-family: "Poppins", sans-serif;
}

.keranjang-wrapper {
  background: transparent;
  padding-top: 100px;   
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  max-width: 760px;
  margin: auto;
}

.keranjang-header {
  display: flex;
  align-items: center;
  background: whitesmoke;
  border-bottom: #dcdcdc;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  font-family: "Poppins", sans-serif;
}

.keranjang-item-box {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  background: whitesmoke;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 12px;
  gap: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: 0.2s;
}

.keranjang-item-box.keranjang-selected {
  background: whitesmoke;
  border: 1px solid #dcdcdc;
}

.keranjang-img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
}

.keranjang-info {
  flex: 1;
}

.keranjang-nama {
  font-weight: bold;
  font-size: 16px;
}

.keranjang-harga {
  font-family: "Poppins", sans-serif;
  color: #961c1c;
  font-weight: bold;
}

.keranjang-qty,
.keranjang-opsi,
.keranjang-note {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #000006;
}

.keranjang-footer {
  font-family: "Poppins", sans-serif;
  position: sticky;
  bottom: 0;
  background: whitesmoke;
  padding: 15px;
  border-radius: 10px;
  border-top: 2px solid #dcdcdc;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.08);
}

.total-label {
  font-weight: bold;
}

.total-harga {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #961c1c;
}

.checkout-btn {
  margin-left: auto;
  padding: 8px 20px;
}

.keranjang-click-area {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  flex: 1;
  cursor: pointer;
}

h4{
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
}