@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.profile-container {
  width: 350px;
  margin: auto;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  text-align: center;
}

.photo-wrapper {
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  border: 3px solid whitesmoke;
}

.photo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.field {
  margin-top: 20px;
  text-align: left;
}

.field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.field input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid whitesmoke;
}

.logout-btn {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  border: none;
  background: #ff4d4d;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #e04343;
}

.btn-save {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  border: none;
  background: #ff4d4d;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}
